@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Poppins:wght@500&display=swap');


/* global classes */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
}

body{
    background-color: #2a077b;
    color: white;
    overflow-x: hidden;
}

:root{
    --heading: color(black)
    --bg: color(--bg: rgb(249 249 255);)
}

:root {
    --heading: rgb(255, 255, 255);
    --para: #777777;
    --para-tint: #e4e4e4;
    --third: #fff;
    --helper: #8490ff;
    --helper-tint: #f3f4ff;
    --bg: rgb(249 249 255);
    --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
    --shadpw: 0px 0px 20px 0px rgb(132 144 255 / 20%);
  }
  
  
  /* spacing 
  desktop = 4.8rem */
  
  html {
    font-size: 62.5%;
    font-family: "Work Sans", sans-serif;
  }
  
  
  h1,
  h2,
  h3,
  h4 {
    font-family: "Rufina", serif;
    font-family: "Poppins", sans-serif;
  }
  
  h1 {
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
  }
  
  p {
    color: var(--para);
    line-height: 1.6;
    font-size: 1.8rem;
  
    /* word-spacing: 0.1rem; */
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  .btn {
    background: -webkit-linear-gradient(
      0deg,
      rgb(132 144 255) 0%,
      rgb(98 189 252) 100%
    );
  
    padding: 1.6rem 3.2rem;
    border: none;
    color: rgb(255 255 255);
    display: inline-block;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative;
  }
  
  .btn:hover {
    box-shadow: 0px 20px 20px 0px rgb(132 144 255 / 30%);
    color: rgb(255 255 255);
  }
  
  .section {
    padding: 9rem 0;
  }
  
  .container {
    max-width: 140rem;
    margin: 0 auto;
  }
  
  .grid {
    display: grid;
    gap: 9rem;
  }
  
  .grid-two-col {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid-three-col {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid-four-col {
    grid-template-columns: repeat(4, 1fr);
  }
  
/* ^ Side Specific  */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #12003a;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 22px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: #ffff70;
    font-size: 1.1rem;
    cursor: pointer;
}

.left{
    font-size: 1.9rem;
    font-family: 'PT Serif', serif;
    font-weight: 500;
    color: var(--heading);
}

.first-Section{
   display: flex; 
   justify-content: space-around;
   align-items: center;
   align-content: center;
   margin-top: 50px;
}
.first-Section > div{
    width: 30%;
}

.left-Section{
    font-size: 3rem;
    margin-left: 10%;
    margin-top: 20px;
}
.right-Section{
 width: 80%;
}

/* ^ Utility Classer */

.my-name{
    color: #c6aeff;
}

#element{
    color: #c6aeff;
}

/* ^ Service Section */

.service-section{
height: 520px;
width: 80%;
}


.common-heading {
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 6rem;
    text-transform: capitalize;
    position: relative;
  }
  
  .common-heading::before {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: var(--helper-tint);
  }
  
  .common-heading::after {
    content: "";
    position: absolute;
    top: 128%;
    left: 1.5rem;
    width: 30%;
    height: 0.3rem;
    background: var(--helper-tint);
  }